node_modules/
.expo/
dist/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Env
.env
.env.local
supabase/.env.local

# Native
ios/
android/

# Metro / Expo
.expo-shared/
expo-env.d.ts

# Misc
.DS_Store
npm-debug.*
*.tsbuildinfo
coverage/
